/* Colors
*/

:root {
    --primary: rgba(180, 208, 231, 1);
    --secondary: rgba(0, 97, 255, 1);
    --square_green: rgba(162, 211, 155, 1);
    --square_brown: rgba(97, 8, 43, 1);
    --square_lightblue: rgba(0, 147, 206, 1);
    --square_red: rgba(255, 28, 28, 1);
    --square_darkred: rgba(213, 0, 31, 1);
    --square_blue: rgba(13, 36, 129, 1);
    --square_yellow: rgba(255, 216, 48, 1);
    --square_gray: rgba(245, 245, 245, 1);

    --font-opensans: 'Open Sans', sans-serif;
}

/* Common
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: var(--font-opensans);
}

a {
    display: inline-block;
    text-decoration: none;
}

/* Utility
*/

.row {
    width: 100%;
}

row::after{
    content: "";
    display: table;
    clear: both;
}

.col-50{
    width: 50%;
    height: 100px;
    background-color: aquamarine;
    float: left;
}

.text-right{
    background-color: brown;
    text-align: right;
}

.container {
    width: 70%;
    max-width: 1600px;
    margin: 0 auto;
}

.col-30{
    width: 30%;
    height: 1000px;
    float: left;
}

.col-100 {
    width: 100%;
    height: 300px;
    float: left;
    background-color: beige;
}



.col-60{
    width: 60%;
    height: 500px;
    float: left;
    background-color: deeppink;
}

.col-40{
    width: 40%;
    height: 500px;
    float: left;
    background-color: springgreen;
}

.square-30 {
    width: 30%;
    height: 500px;
    float: left;
    background-color: teal;
}

.square-40 {
    width: 40%;
    height: 500px;
    float: left;
    background-color: rgba(255, 216, 48, 1);
}

.square {
    width: 50%;
    height: 50%;
    float: left;
}


/******
 Header
*******/

.jumbo {
    background-color: var(--primary);
    height: 800px;
}


/* Main
*/

/* Price
*/

.price {
    background-color: rgb(255, 0, 0);
    height: 1500px;
}

.price_text {
    width: 100%;
    height: 200px;
}

.professional{
    background-color: black;
}

.standard {
    background-color: azure;
    margin: 0 5%;

}

.advanced {
    background-color: burlywood;
}

/* Partner
*/

.partner {
    margin-top: 150px;
}

/* pro_dropbox
*/

.pro_dropbox{
    background-color: yellow;
    height: 2000px;
}


.cartella, .proposta, .mobile, .zoom, .trasferisci, .cassaforte, .proposta, .trasferisci {
    background-color: lightseagreen;
    margin-top: 8%;
    height: 600px;
}

.proposta, .trasferisci {
    margin: 8% 5% 0;
}

/* team
*/
.text_team {
    height: 400px;
    background-color: brown;
}

/* clienti
*/

.clienti{
    height: 500px;
}

.green{
    background-color: var(--square_green);
}

.brown{
    background-color: var(--square_brown);
}

.lightblue{
    background-color: var(--square_lightblue);
}

.red{
    background-color: var(--square_red);
}

.citazione{
    background-color: var(--square_gray);
}

.darkred {
    background-color: var(--square_darkred);
}

.primary{
    background-color: var(--primary);
}

.blue{
    background-color: var(--square_blue);
}

.yellow{
    background-color: var(--square_yellow);
}






/* Footer
*/









