/* Colors
*/

:root {
    --primary: rgba(180, 208, 231, 1);
    --secondary: rgba(0, 97, 255, 1);
    --square_green: rgba(162, 211, 155, 1);
    --square_brown: rgba(97, 8, 43, 1);
    --square_lightblue: rgba(0, 147, 206, 1);
    --square_red: rgba(255, 28, 28, 1);
    --square_darkred: rgba(213, 0, 31, 1);
    --square_blue: rgba(13, 36, 129, 1);
    --square_yellow: rgba(255, 216, 48, 1);
    --square_gray: rgba(245, 245, 245, 1);

    --font-opensans: 'Open Sans', sans-serif;
}

/* Common
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: var(--font-opensans);
}

a {
    display: inline-block;
    text-decoration: none;
}

/* Utility
*/

.row {
    width: 100%;
}

row::after{
    content: "";
    display: table;
    clear: both;
}

.col-50{
    width: 50%;
    height: 100px;
    background-color: aquamarine;
    float: left;
}

.text-right{
    background-color: brown;
    text-align: right;
}

/******
 Header
*******/

header {
    background-color: var(--primary);
    height: 800px;
}





/* Main
*/

/* Footer
*/









